* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
body {
  background-color: #cae9f5;
  /* border: 1px solid #b19cd9; */
  height: auto;
  width: 100%;
}
.container{
  display: flex;
  gap: 8em;
}
header {
  float: left;
  border-radius: 10px 10px;
  margin-right: 10px;
  border: 2px solid #f0f8ff;
  margin: 2em 2em;
}

h1,
h2 {
  font-size: 35px;
  font-family: "Gabriela";
  text-align: center;
  line-height: 1.5em;
  text-transform: capitalize;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  width: 10em;
  background-color: #f0f8ff;
  text-align: center;
  padding: 0.5em;
  margin: 1em 0.5em;
  border-radius: 30px 30px;
}

ul {
  text-transform: capitalize;
  text-decoration: none;
  text-shadow: #f0f8ff;
}
li {
  list-style-type: square;
  margin-left: 1.5em;
  line-height: 2em;
  font-family: Gabriela;
  font-style: italic;
}
li:hover {
  cursor: pointer;
}
main {
  float: right;
  margin-right: 200px;
  width: 500px;
}
img {
  border-radius: 4em 4em;
  max-width: 100%;
  width: 50%;
  cursor: grabbing;
  transition: 0.5s;
  -webkit-box-reflect: right 1px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  
}
img:hover{
  box-shadow: 0 0 6px 4px #f1a458;
  /* opacity: 0.9; */
}

h5 {
  margin-top: 1.2em;
}
a {
  text-decoration: underline;
}
#comment-form {
  width: 450px;
  margin: 1em;
}

textarea {
  display: block;
  width: 80%;
  height: 150px;
  border: 1px solid #f1a458;
  font-size: 18px;
  margin-bottom: 1em;
}

#comment-form {
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #f0f8ff;
  color: #000;
  cursor: pointer;
  border-radius: 20px 20px;
  height: 3em;
  width: 8em;
}
#comment-form:hover{
  background-color: black;
  color: white;
}

#comments-list li {
  background-color: #fff3a9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  height: auto
  ;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
 body {
    width: 80%;
    padding: 0;
  }
  .container{
  display: flex;
  gap: 8em;
}
  img{
    width: 100%;
  }
  header{
    width:100%
  }
  
  header{
    width:100%
  }
  main{
    width: 50%;
  }
  h1, h2{
    font-size: 20px;
  }
  ul{
    font-size: 10px;
  }
  h3{
    font-size: 18px;
  }
  p{
    font-size: 10px;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  body {
    width: 80%;
    padding: 0;
  }
  .container{
  display: flex;
  gap: 4em;
}
  img{
    width: 30%;
    /* margin-left: 20px; */
  }
  header{
    width:100%
  }
  main{
    width: 50%;
  }
  h1, h2{
    font-size: 20px;
  }
  ul{
    font-size: 10px;
  }
  /* #comment{
    height: 60px;
  } */
  h3{
    font-size: 18px;
  }
  p{
    font-size: 10px;
  }
}
@media only screen and (max-width:360px) {
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: 2.5em;
}
  img{
    width: 100%;
  }
  header{
    width:100%;
    height:100%;
  }
  main{
    width: 50%;
  }
  h1, h2{
    font-size: 15px;
  }
  #comment{
    height: 60px;
  }
  ul{
    font-size: 10px;
  }
  h3{
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
}
@media only screen and (max-width:390px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: 3em;
}
  img{
    width: 60%;
  }
  header{
    width:100%
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 20px;
  }
  ul{
    font-size: 10px;
  }
  h3{
    font-size: 15px;
  }
  #comment{
    height: 70px;
  }
  p{
    font-size: 12px;
  }

  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:375px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 50%;
  }
  header{
    width:100%
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 15px;
  }
  ul{
    font-size: 10px;
  }
  h3{
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
  #comment{
    height: 65px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:393px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 15px;
  }
  h3{
    font-size: 12px;
  }
  ul{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  #comment{
    height: 70px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:412px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 18px;
  }
  h3{
    font-size: 13px;
  }
  ul{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  #comment{
    height: 80px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:820px){
  body {
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 70%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 60%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  ul{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
  #comment{
    height: 80px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:540px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 18px;
  }
  h3{
    font-size: 13px;
  }
  ul{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  #comment{
    height: 80px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:280px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 10px;
  }
  h3{
    font-size: 8px;
  }
  ul{
    font-size: 8px;
  }
  p{
    font-size: 8px;
  }
  #comment{
    height: 60px;
  }
  #comment-form{
    width: 80%;
    font-size: 8px;
  }
}
@media only screen and (max-width:1024px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 18px;
  }
  h3{
    font-size: 13px;
  }
  ul{
    font-size: 10px;
  }
  p{
    font-size: 12px;
  }
  #comment{
    height: 80px;
  }
  #comment-form{
    width: 80%;
    font-size: 12px;
  }
}
@media only screen and (max-width:1280px){
  body {
    width: 80%;
    padding: 0;
    height: 100%;
  }
  .container{
  display: flex;
  gap: .5em;
}
  img{
    width: 40%;
  }
  header{
    width:100%;
    height: 100%;
  }
  main{
    width: 50%;
    margin-left: 30px;
  }
  h1, h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  ul{
    font-size: 16px;
  }
  p{
    font-size: 15px;
  }
  #comment{
    height: 80px;
  }
  #comment-form{
    width: 80%;
    font-size: 16px;
  }
}


